@model Gcm.Samples.MessageBoard.WebApp.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Index";
}
<div>
    <a href="@Url.Action("Post", "Messages")">Post Message</a>
    <br />
    <br />
    <label>Messages: @Model.Messages.Length</label>
    <ul class="list-group">
        @foreach (var message in Model.Messages)
        {
            <li class="list-group-item">
                @message.Text
            </li>
        }
    </ul>
</div>
